<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="assets/style/createArticle.css" rel="stylesheet" type="text/css" />
     <link rel='stylesheet' type='text/css' media='screen' href='assets/style/header.css'>
    <title>Document</title>
</head>
<body>
  {% include "header.html.twig"%}


     <form method="post" action="/tournament" enctype='multipart/form-data'>
        <input type="text" name="name" placeholder="Insert Name" class="input">
        <textarea name="description" placeholder="Insert Description" class="input"></textarea>
        <input type="text" name="players" placeholder="Insert Players" class="input">
        <input type="submit" name="createTournament" value="Créer" class="button">
    </form>



   <table>
            <tr>
                <th>Title</th>
                <th>Bio</th>
                <th>Date</th>
                <th>Place</th>
                <th>Image</th>
                <th>DeleteButton</th>
            </tr>
        {% for tournament in tournaments %}
            <tr>
                <th>{{ tournament.nom }}</th>
                <th>{{ tournament.description }}</th>
                <th>{{ tournament.date }}</th>
                <th>{{ tournament.place }}</th>
                <th><img src="http://localhost/images/{{ tournament.image }}" style="height: 100px"></th>
                <th>  
                    <form method="POST" action="/admin/createTournament/deleteTournament">
                        <input type="submit" name="{{tournament.id}}" value="Delete" class="buttonDelete">
                    </form>
                </th>
            </tr>
        {% endfor %}
    </table>

    {% block content %}{% endblock %}

</body>
</html>