<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="assets/style/header.css" rel="stylesheet" type="text/css" />
    <link href="assets/style/event.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
  {% include "header.html.twig"%}




    <h3>Tournoi</h3>
    <a href="/createTournament" class="tournamentCreate">Créer un tournoi</a>
    <section id="articles">
    {% for tournament in tournaments %}
        <article>
            <img src="http://localhost/images/{{tournament.image}}" alt="{{tournament.image}}">
            <div>
                <h6>{{ tournament.description }}</h6>
                <div>
                    <h6>{{tournament.date}}</h6>
                    <h6>{{tournament.place}}</h6>
                </div>
                <a href="">En savoir plus</a>
            </div>
        </article>
    {% endfor %} 
    </section>

    {% block content %}{% endblock %}

</body>
</html>